<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />

    <title>CSE 412 Project</title>
    <meta name="description" content="CSE 412 Project" />

    <style>
      h1 {
        font-family: monospace;
        border-bottom: 1px solid black;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <h1>Hello {{name}}!</h1>
  </body>
</html>
