<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search Page</title>
    </head>
    <body>
        <h1>search h1</h1>
        <form action = "/search" method="post">
            <input type = "text" name = "keyword" placeholder="Search here...">
            <br><br>
            <button type = "submit">Search</button>
            <button type="submit" name="filter" value="artists">Search Artists</button>
            <button type="submit" name="filter" value="albums">Search Albums</button>
            <button type="submit" name="filter" value="songs">Search Songs</button>
        </form>
        <a href="index.html"><button>Go to Index.html</button></a>
    </body>
</html>
